@font-face{font-family:'Meslo LG';font-style:normal;src:local('Meslo LG S'),url(../fonts/MesloLGS-Regular.woff) format('woff')}
body{background-color: #1d1f21;}

/* 布局 */
.g-main{width: 560px;margin: 0 auto;}
.g-mainHead{margin:64px auto 0 auto;}
.g-mainFoot{margin:128px auto 8px auto;}
.g-topRightFixed{position: fixed;top: 30px;right: 30px;}

/* LOGO */
.m-logo{height:50px;width:50px;float:left;}

/* 标题 */
.m-title{float:left;width: 490px;margin-left:20px;}
.m-title .title{font-size:2rem;color:#c9cacc;height:32px;line-height:32px;}
.m-titleList{margin:48px 0 16px 0;width: 100%;float: none;}
.m-titleList .title a{color:#2bbc8a;font-weight: bold;font-size: 1.8rem;}
.m-titleArchives{margin:48px 0 16px 0;width: 100%;float: none;}
.m-titleArchives .title a{color:#eee;font-weight: bold;font-size: 1.4rem;}

/* 菜单 */
.m-menu{float:left;width: 490px;margin:0 0 0 20px;}
.m-menu ul li{float:left;font-size:1.1rem;margin-right:30px;position:relative;}
.m-menu ul li::before{content:"";border-right:#2bbc8a 1px dotted;position:absolute;left:-16px;top:3px;display:block;width:1px;height:12px;}
.m-menu ul li:first-child::before{display:none;}
.m-menu ul li a{color:#2bbc8a;}
.m-menuFoot{float: right;width: auto;margin:0;}
.m-menuFoot ul li a{color:#666;}
.m-menuFoot ul li::before{border-right:#666 1px dotted;}
.m-menuIcon{float: right;width: auto;margin:0;}


/* 演示文字 */
.m-showText{min-height: 105px;}

/* 计数 */
.m-counting ul li{float:left;font-size:1.1rem;margin-right:20px;position:relative;}
.m-counting ul li::before{content:"|";position:absolute;left:-14px;top:-1px;display:block;width:1px;height:12px;}
.m-counting ul li:first-child::before{display:none;}
.m-counting{}

/* 列表 */
.m-list ul li{line-height: 1.8rem;}
.m-list ul li a{position: relative;}
.m-list ul li a::after{content: "";width: 100%;position: absolute;bottom: 0;left: 0; height: 1px;background-color: #c9cacc;}
.m-list ul li a:hover{color: #2bbc8a;}
.m-list ul li a:hover::after{background-color: #2bbc8a;}
.m-list ul li .date{color: #666;font-size: 1.2rem;}
.m-list ul li .title{font-size: 1.2rem;margin: 0 0 0 16px;}
.m-list ul li .explain{font-size: 1.2rem;margin: 0 5px 0 0;}
.m-list2 ul li .title{margin: 0 5px 0 0;}

/* 文章标签 */
.m-tag{padding: 40px 0 0 0;}
.m-tag ul li{float: left;margin: 0 5px 0 0;line-height: 34px;}
.m-tag ul li.level1{font-size: 1rem;}
.m-tag ul li.level2{font-size: 1.2rem;}
.m-tag ul li.level3{font-size: 1.4rem;}
.m-tag ul li.level4{font-size: 1.6rem;}
.m-tag ul li.level5{font-size: 1.8rem;}
.m-tag ul li.level6{font-size: 2rem;}
.m-tag ul li.level7{font-size: 2.2rem;}

/* 文章内容 */
.m-article{padding: 0 16px;}
.m-article .title{font-size:1.75rem;color:#2bbc8a;padding: 36px 0 0 0;}
.m-article .info{padding: 2px 0 0 0;font-size:1.2rem;}
.m-article .content{padding: 24px 0 0 0;font-size:1.2rem;}
.m-article .content p{margin: 1rem 0;word-break: break-all;text-align: justify;}
.m-article .content .h1,.m-article .content h1{letter-spacing:.01em;font-size:1.6em;font-style:normal;font-weight:700;color:#2bbc8a;margin-top:3rem;margin-bottom:1rem;display:block}
.m-article .content .h2,.m-article .content h2,.m-article .content h3{font-size:1.4rem;font-weight:700;color:#eee}
.m-article .content .h2,.m-article .content h2{position:relative;text-transform:none;letter-spacing:normal;margin-top:2rem;margin-bottom:.5rem;display:block}
.m-article .content h2:before{content:"#";color:#2bbc8a;position:absolute;left:-1.5rem;top:0rem;font-size:1.6rem;font-weight:700;}
.m-article .content h4,.m-article .content h5,.m-article .content h6{font-size:1.2rem;font-weight:400;color:#ccc;border-bottom:1px dashed #ccc;display:inline;text-decoration:none}
.m-article .content dt,.m-article .content strong,.m-article .content th{font-weight:700}
.m-article .content h3,.m-article .content h4,.m-article .content h5,.m-article .content h6{margin-top:.9rem;margin-bottom:.5rem}

/* 图标 */
.m-icon{
    float: right;
    font-size: 1.1rem;
}